@charset "UTF-8";
.calculator-wrap {
  color: white;
  background-color: black;
  margin: 0 6vw 0 6vw;
}
.calculator-wrap .calculator {
  margin-top: 8vh;
  padding: 10vh 20vh 10vh 20vh;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}
.calculator-wrap .calculator .square-text {
  margin-top: 0;
}
.calculator-wrap .calculator .square-input {
  margin: 5vh 8vw 0 8vw;
}
.calculator-wrap .calculator .status {
  margin-top: 8vw;
}
.calculator-wrap .calculator .select-calc {
  display: flex;
  justify-content: space-between;
  margin: 5vh 8vw 0 8vw;
}
.calculator-wrap .calculator .price {
  margin-top: 8vw;
  font-size: 5vh;
  color: honeydew;
}

.active {
  color: yellow;
}

.first-info-main {
  color: black;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.services .column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services .column .item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 3vw;
  margin-top: 4vh;
  width: 14vw;
  height: 14vw;
}
.services .column .item h1 {
  position: absolute;
  top: 2vw;
  font-size: 1.2VW;
  width: 100%;
}
.services .column .item a {
  position: absolute;
  width: 6vw;
  left: 4vw;
  top: 10vw;
  /*display: inline-block;*/
  color: black;
  text-decoration: none;
  outline: none;
  border: 0.1vw solid;
  border-radius: 20px;
  transition: 0.2s;
  font-size: 1vw;
}
.services .column .item a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.services .column .item a:active {
  background: black;
}
.services .column .item img {
  margin-bottom: 5vh;
  transition: 0.4s;
  width: 100%;
}
.services .column .item img:hover {
  transform: scale(1.2);
}

@media (max-width: 900px) {
  #col, #col1, #col2 {
    flex-direction: column;
  }
  #col .item, #col1 .item, #col2 .item {
    margin: 5vw auto;
    width: 300px;
    height: 300px;
  }
  #col .item .inside-item h1, #col1 .item .inside-item h1, #col2 .item .inside-item h1 {
    position: absolute;
    top: 70px;
    font-size: 22px;
  }
  #col .item .inside-item a, #col1 .item .inside-item a, #col2 .item .inside-item a {
    padding-top: 7px;
    top: 200px;
    left: 100px;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    /*display: inline-block;*/
    font-size: 24px;
  }
}
/*Стили для демонстрации*/
html, body {
  height: 100%;
  background-color: #333;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 3vh;
}

@media (max-width: 767px) {
  .wrapper-slider {
    padding: 50px 10px;
  }
}
/* Основные стили */
/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный */
/* Слайд основной */
/* Слайд по центру */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки */
.slick-dots button {
  background-color: gray;
}

/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 60px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 40px;
  }
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 15px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  background: none;
  width: 40px;
  height: 40px;
}

.slick-arrow.slick-prev:active, .slick-arrow.slick-prev:focus {
  outline: none;
}

.slider .slick-arrow.slick-next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 15px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background: none;
  width: 40px;
  height: 40px;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: black;
  /*border: 1px solid forestgreen;*/
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 100%;
}

.wrapper-slider {
  padding-top: 2%;
}

.header-main {
  width: 100%;
  background-color: #333333;
  min-height: 80px;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  color: white;
}
.header-main a {
  text-underline: none;
  text-decoration: none;
}
.header-main .landarch {
  margin: auto 0;
}
.header-main .menu {
  margin: auto 0;
}
.header-main .menu li {
  list-style: none;
}
.header-main .menu .menu-list {
  display: flex;
}
.header-main .menu .menu-list > li {
  margin: 0 1.3vw 0 0;
}
.header-main .menu .menu-list .drop:hover .sub-menu-list {
  display: block;
}
.header-main .menu .menu-list .drop .menu-link {
  color: white;
}
.header-main .menu .menu-list .drop .sub-menu-list {
  z-index: 99;
  position: absolute;
  top: 50px;
  display: none;
  padding: 10px 0 0 0;
}
.header-main .menu .menu-list .drop .sub-menu-list > li {
  background-color: white;
  width: 200px;
}
.header-main .menu .menu-list .drop .sub-menu-list .sub-menu-link {
  background-color: white;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#bod {
  background: url("../img/leaves.png");
}

.wrap {
  padding: 0 20%;
}

@media (max-width: 900px) {
  .wrap {
    padding: 0 10%;
  }
  .wrap .first-li {
    display: none;
  }
}
.our-services {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  font-size: 50px;
  color: #333333;
  z-index: 4124124124;
}

/*# sourceMappingURL=index.css.map */
