.body {
  background: url("../../../img/leaves.png");
  height: 100%;
  display: flex;

  .services-list {
    background-color: red;
    height: 100%;
    width: 20%;
  }

  .main {
    width: 100%;
    height: 100%;
    background-color: beige;
    padding-right: 20%;
    .test {
      width: 100%;
      height: 100%;
      background-color: green;
    }
  }
}