.services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item {
      position: relative;
      display: inline-block;
      overflow: hidden;
      border-radius: 3vw;
      margin-top: 4vh;
      width: 14vw;
      height: 14vw;

      & h1 {
        position: absolute;
        top: 2vw;
        font-size: 1.2VW;
        width: 100%;
      }

      & a {
        position: absolute;
        width: 6vw;
        left: 4vw;
        top: 10vw;
        /*display: inline-block;*/
        color: black;
        text-decoration: none;
        outline: none;
        border: 0.1vw solid;
        border-radius: 20px;
        transition: 0.2s;
        font-size: 1vw;

        &:hover {
          background: rgba(255, 255, 255, .2);
        }

        &:active {
          background: black;
        }
      }

      img {
        margin-bottom: 5vh;
        transition: 0.4s; //Время эффекта
        width: 100%;

        &:hover {
          transform: scale(1.2); //Увеличиваем масштаб,,
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #col, #col1, #col2 {
    flex-direction: column;

    .item {
      margin: 5vw auto;
      width: 300px;
      height: 300px;

      & .inside-item {
        & h1 {
          position: absolute;
          top: 70px;
          font-size: 22px;
        }

        & a {
          padding-top: 7px;
          top: 200px;
          left: 100px;
          width: 100px;
          height: 50px;
          margin: 0 auto;
          /*display: inline-block;*/
          font-size: 24px;
        }
      }
    }
  }
}




