@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body, html{
  height: 100%;
}
body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/*.wrapper-main{*/
/*	flex: 1 0 auto; --------------- Для футера */
/*}*/

/*header*/
.landarch{
  margin: auto 0;
}

.first-info-main{
  color: black;
  text-align: center;
}
.body{
  background: url("../../img/leaves.png");
  font-family: monospace;
}
.wrap{
  padding:  0 15vw;
}

/*navigation*/

.header-main{
  min-height: 80px;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .wrap{
    padding: 0 8vw;
  }
  .li-main{
    display: none;
  }
  /*---------------*/

}
.menu{
  margin: auto 0;

}
.menu a{
  text-decoration: none;
}
.menu li{
  list-style: none;
}
.menu{
}
.menu-list{
  display: flex;
}
.menu-list>li{
  margin: 0px 1.3vw 0 0;
}
.menu-link{
  color: white;
}

.drop:hover .sub-menu-list{
  display: block;
}
.sub-menu-list{
  z-index: 9999999999;
  position: absolute;
  top: 5vh;
  display: none;
  padding: 40px 0 0 0;
}
.sub-menu-list>li{
  background-color: white;
  width: 5vw;

}

.sub-menu-link{
  background-color: white;
}



